<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Diabetes Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import numpy as np
import pandas as pd

In [59]:
#Import the diabetes dataset
dataset = pd.read_csv('pima-indians-diabetes.data', header=None)

#### 2: Analyze the dataset

In [60]:
#View the first five observations of the dataset
dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [61]:
#Use the .NAMES file to view and set the features of the dataset
feature_names = ['Number of times pregnant', 
                 'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
                 'Diastolic blood pressure (mm Hg)',
                 'Triceps skin fold thickness (mm)',
                 '2-Hour serum insulin (mu U/ml)',
                 'Body mass index (weight in kg/(height in m)^2)',
                 'Diabetes pedigree function',
                 'Age (years)',
                 'Class variable (0 or 1)']

In [63]:
#Use the feature names set earlier and fix it as the column headers of the dataset
dataset.columns = feature_names

In [64]:
#Verify if the dataset is updated with the new headers
dataset.columns

Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable (0 or 1)'],
      dtype='object')

In [65]:
#View the number of observations and features of the dataset
dataset.shape

(768, 9)

#### 4: Find the response  of the dataset

In [37]:
#Select features from the dataset to create the model
selected_features = ['Number of times pregnant', 'Body mass index (weight in kg/(height in m)^2)', 'Diabetes pedigree function', 'Age (years)']

In [66]:
#Create the feature object
x = dataset[selected_features]
x.head()

,Number of times pregnant,Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years)
0,6,33.6,0.627,50
1,1,26.6,0.351,31
2,8,23.3,0.672,32
3,1,28.1,0.167,21
4,0,43.1,2.288,33

In [67]:
#Create the response object
y = dataset['Class variable (0 or 1)']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Class variable (0 or 1), dtype: int64

In [40]:
#View the shape of the feature object
x.shape

(768, 4)

In [41]:
#View the shape of the target object
y.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [68]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y)
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((576, 4), (576,), (192, 4), (192,))

#### 6: Create a model  to predict the diabetes outcome

In [69]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [71]:
#Make predictions using the testing set
y_pred = logreg.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], dtype=int64)

#### 7: Check the accuracy of the model

In [73]:
#Evaluate the accuracy of your model
from sklearn import metrics
metrics.accuracy_score(y_pred, y_test)

0.6927083333333334

In [76]:
#Print the first 30 actual and predicted responses
print(y_pred[0:30])
print(y_test[0:30])

[0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0]
365    0
311    0
591    0
310    0
708    1
212    0
460    0
693    1
549    0
654    0
642    1
173    0
124    1
427    1
541    1
327    0
312    1
583    0
60     0
239    0
601    0
370    1
351    0
633    0
29     0
724    0
276    1
289    0
120    1
437    0
Name: Class variable (0 or 1), dtype: int64