<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import numpy as np
import pandas as pd

In [2]:
#Import the advertising dataset
dataset = pd.read_csv('Advertising Budget and Sales.csv')

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
dataset.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [11]:
#Check the total number of elements in the dataset
dataset.count()

Unnamed: 0                 200
TV Ad Budget ($)           200
Radio Ad Budget ($)        200
Newspaper Ad Budget ($)    200
Sales ($)                  200
dtype: int64

#### 3: Find the features or media channels used by the firm

In [12]:
#Check the number of observations (rows) and attributes (columns) in the dataset
dataset.shape

(200, 5)

In [14]:
#View the names of each of the attributes
dataset.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [38]:
#Create a feature object from the columns
x = pd.DataFrame(dataset, columns=['TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)'])

In [39]:
#View the feature object
x

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0               230.1                 37.8                     69.2
1                44.5                 39.3                     45.1
2                17.2                 45.9                     69.3
3               151.5                 41.3                     58.5
4               180.8                 10.8                     58.4
..                ...                  ...                      ...
195              38.2                  3.7                     13.8
196              94.2                  4.9                      8.1
197             177.0                  9.3                      6.4
198             283.6                 42.0                     66.2
199             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [40]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y = pd.DataFrame(dataset, columns=['Sales ($)'])

In [41]:
#View the target object
y

     Sales ($)
0         22.1
1         10.4
2          9.3
3         18.5
4         12.9
..         ...
195        7.6
196        9.7
197       12.8
198       25.5
199       13.4

[200 rows x 1 columns]

In [42]:
#Verify if all the observations have been captured in the feature object
x.shape

(200, 3)

In [43]:
#Verify if all the observations have been captured in the target object
y.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [45]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
train, test = train_test_split(dataset)

In [47]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
x_train = pd.DataFrame(train, columns=['TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)'])
y_train = pd.DataFrame(train, columns=['Sales ($)'])
x_test = pd.DataFrame(test, columns=['TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)'])
y_test = pd.DataFrame(test, columns=['Sales ($)'])

x_train.shape, y_train.shape, x_test.shape, y_test.shape

((150, 3), (150, 1), (50, 3), (50, 1))

#### 6: Create a model  to predict the sales outcome

In [48]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train, y_train)

LinearRegression()

In [49]:
#Print the intercept and coefficients 
linreg.intercept_, linreg.coef_

(array([2.83033769]), array([[ 0.04633476,  0.19174889, -0.00331116]]))

In [52]:
#Predict the outcome for the testing dataset
y_predict = linreg.predict(x_test)
y_predict

array([[19.95549879],
       [ 9.96187177],
       [ 8.65601849],
       [20.85541176],
       [ 7.52236501],
       [ 6.32653055],
       [15.20486889],
       [ 6.72337551],
       [12.84679144],
       [12.34623918],
       [18.60050895],
       [19.41196651],
       [23.27743274],
       [ 8.10782128],
       [ 7.50852011],
       [15.61829966],
       [22.94416791],
       [ 9.31121679],
       [ 3.429257  ],
       [16.57304487],
       [20.85609421],
       [12.56787829],
       [17.14539623],
       [10.42722108],
       [12.7936635 ],
       [14.73031688],
       [17.12784047],
       [ 6.47470735],
       [ 8.99962082],
       [ 6.42897854],
       [ 9.78041305],
       [13.94027569],
       [12.51637334],
       [ 8.77791362],
       [17.6791425 ],
       [13.0851788 ],
       [13.91634118],
       [12.76774553],
       [16.40681702],
       [18.57501648],
       [ 5.93947823],
       [ 7.80772078],
       [15.09284996],
       [11.70613787],
       [ 9.72114996],
       [ 7.69549985],
       [16.91329793],
       [14.94569581],
       [14.36333415],
       [14.77545033]])

#### 7: Calculate the Mean Square Error (MSE)

In [51]:
#Import required libraries for calculating MSE (mean square error)
from sklearn.metrics import mean_squared_error

In [55]:
#Calculate the MSE
mean_squared_error(y_predict, y_test)

3.2913153632838625