In [1]:
import pandas as pd

In [2]:
#read data from csv file 
raw_data = pd.read_csv('imdb_labelled.txt', sep='\t', names=['comment','label'])

In [3]:
#view first 10 observations
raw_data.head(10) #0 indicates negative, 1 indicates positive

                                             comment  label
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1
5  The rest of the movie lacks art, charm, meanin...      0
6                                Wasted two hours.        0
7  Saw the movie today and thought it was a good ...      1
8                               A bit predictable.        0
9  Loved the casting of Jimmy Buffet as the scien...      1

In [4]:
raw_data.describe()

            label
count  748.000000
mean     0.516043
std      0.500077
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [ ]:
#view data statistics using describe()

In [ ]:
#view columns of the dataset

In [ ]:
#Count number of records

In [ ]:
#view datatypes

In [ ]:
#select FDNY information boroughwise

In [ ]:
#view FDNY informationn for each borough

In [ ]:
#select FDNY information for Manhattan