In [5]:
import pandas as pd

In [2]:
input_data = {'Name': ['p1', 'p2', 'p3', 'p4'], 'Age': [15, 17, 17, 16], 'Grades': [96, 88, 79, 99]}
grades_df = pd.DataFrame(input_data)

grades_df

  Name  Age  Grades
0   p1   15      96
1   p2   17      88
2   p3   17      79
3   p4   16      99

In [3]:
grades_df.Name

0    p1
1    p2
2    p3
3    p4
Name: Name, dtype: object

In [4]:
grades_df.describe()

             Age     Grades
count   4.000000   4.000000
mean   16.250000  90.500000
std     0.957427   8.962886
min    15.000000  79.000000
25%    15.750000  85.750000
50%    16.500000  92.000000
75%    17.000000  96.750000
max    17.000000  99.000000

In [9]:
movie_ratings = pd.DataFrame({'movie 1': [5, 4, 3, 2, 1], 'movie 2': [4, 5, 2, 3, 1]}, index = ['Tom', 'Jeff', 'Peter', 'John', 'Will'])
movie_ratings

       movie 1  movie 2
Tom          5        4
Jeff         4        5
Peter        3        2
John         2        3
Will         1        1

In [10]:
def ratings(grade):
    if grade == 5:
        return 'A'
    if grade == 4:
        return 'B'
    if grade == 3:
        return 'C'
    if grade == 2:
        return 'D'
    if grade == 1:
        return 'F'
    
movie_ratings.applymap(ratings) #apply function to entire dataframe

      movie 1 movie 2
Tom         A       B
Jeff        B       A
Peter       C       D
John        D       C
Will        F       F